* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #00FF00;
    background-color: #0D0D0D;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  
  }
  
  /* Start navbar modification */
  
  #navbar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  #side-nav-overskrift {
    font-size:30px;
    text-align: center;
  }
  
  a.nav-link {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 0.6em;
    display: flex;
    border-style: solid;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  
  a.nav-link:hover {
    background-color: #00FF00;
    color: #0D0D0D;
  }
  
  #navbar ul li:first-of-type .nav-link {
    margin-top: 40px;
  }
  
  /* End navbar modification */
  
  
  /* Start main modification */
  
  #main-doc {
    height: 2000px;
    margin-left: 300px;
    padding: 90px 0 0 50px;
    line-height: 1.2;
  }
  
  .main-section {
    margin-bottom: 35px;
  }
  
  header {
    font-size: 1.5em;
    margin-bottom: 15px;
  }
  
  p {
    display: block;
  }
  
  p, li {
    font-size: 0.85em;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  #ref_link {
    text-decoration: none;
    background-color:#004400;
    margin: 10px 0;
  }
  
  #ref_link:hover {
    background-color: #00FF00;
    color: #0D0D0D;
  }
  
  .divider {
    height: 3px;
    background: linear-gradient(to right, #1A1A1A, #00FF00, #1A1A1A);
    border: none;
    margin-bottom: 15px;
  }
  
  #main-doc ul li {
    list-style-type: ">";
    margin-left: 20px;
  }
  
  .ordered-retro-list {
    list-style: inside;
  
  }
  
  
  .highlight-green {
    background-color: #004400;
  }
  
  .description {
    display: block;
  }
  
  .bold {
    font-weight: 600;
  }
  
  h4 {
    margin: 10px 0 5px 0;
  }
  
  /* End main modification */
  
  
  
  /* Code block modification (ChatGPT assisted) */
  
  pre, code {
    display: block;
    background-color: #1A1A1A; 
    color: #00FF00;
    padding: 10px;
    border-radius: 5px; 
    font-family: "Press Start 2P", system-ui; 
    font-size: 0.6rem; 
  }
  
  pre {
    display: inline-block;
    border: 1px solid #262626; 
    overflow-x: auto; 
    max-width: 90%; 
    margin: 15px 20px; 
    text-align: left;
  }
  
  pre code {
    display: block; 
  }
  
  pre code span {
    background-color: transparent !important; 
  }
  /* End code-block modification */
  
  
@media only screen and (max-width: 500px) {
#navbar {
  width: 100%; 
  height: auto; 
  position: relative; 
}
}